In [3]:
import pandas as pd
import sqlite3

In [7]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\hp\appdata\roaming\python\python39\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\hp\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)

In [13]:
df= pd.DataFrame({'City':['Mumbai','Mumbai','Mumbai','Mumbai','London','London','London','London','Cairo','Cairo','Cairo','Cairo'],
                 'Country':['India','India','India','India','United Kingdom','United Kingdom','United Kingdom','United Kingdom','Egypt','Egypt','Egypt','Egypt'],
                 'Season':['Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall'],
                 'Tempareture C':[24.8,28.4,27.9,27.6,4.2,8.3,15.7,10.4,13.6,20.7,27.7,22.2],
                 'Rainfall':[5.9,16.2,1549.4,346.0,207.7,169.6,157.0,218.5,16.5,6.5,0.1,4.5]})
df

      City         Country  Season  Tempareture C  Rainfall
0   Mumbai           India  Winter           24.8       5.9
1   Mumbai           India  Spring           28.4      16.2
2   Mumbai           India  Summer           27.9    1549.4
3   Mumbai           India    Fall           27.6     346.0
4   London  United Kingdom  Winter            4.2     207.7
5   London  United Kingdom  Spring            8.3     169.6
6   London  United Kingdom  Summer           15.7     157.0
7   London  United Kingdom    Fall           10.4     218.5
8    Cairo           Egypt  Winter           13.6      16.5
9    Cairo           Egypt  Spring           20.7       6.5
10   Cairo           Egypt  Summer           27.7       0.1
11   Cairo           Egypt    Fall           22.2       4.5